africastalking==2.0.2
argon2-cffi==25.1.0
asgiref==3.12.1
babel==2.18.0
celery[redis]==5.6.3
certifi==2026.6.17
charset-normalizer==3.4.9
cloudinary==1.45.0
colorama==0.4.6
cryptography==50.0.2
dj-database-url==3.1.2
Django==6.0.8
django-cloudinary-storage==0.3.0
django-ninja==1.7.1
gunicorn==26.0.0
idna==3.18
ldap3==2.9.1
openpyxl==3.1.5
opentelemetry-api==1.45.0
opentelemetry-sdk==1.45.0
opentelemetry-exporter-otlp-proto-http==1.45.0
opentelemetry-instrumentation-django==0.66b0
packaging==26.3
pillow==12.3.0
prometheus-client==0.26.0
psycopg2-binary==2.9.12
pydantic==2.13.5
PyJWT==2.15.1
pyotp==2.10.0
python-dotenv==1.2.2
python-json-logger==4.2.0
PyYAML==6.0.3
qrcode==8.2
redis==6.4.0
reportlab==5.0.1
requests==2.34.2
schema==0.7.8
sentry-sdk==2.71.0
six==1.17.0
sqlparse==0.6.0
tzdata==2026.3
urllib3==2.8.0
webauthn==3.0.1
whitenoise==6.12.0
