{% extends 'voting/base.html' %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card shadow-sm border-0 rounded-4">
            <div class="card-body p-5">
                <h3 class="mb-4 text-center text-wine fw-bold">Set New Password</h3>
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label small text-muted">New Password</label>
                        <input type="password" name="new_password1" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label small text-muted">Confirm New Password</label>
                        <input type="password" name="new_password2" class="form-control" required>
                    </div>
                    {% if form.errors %}
                        <div class="alert alert-danger small">{{ form.errors }}</div>
                    {% endif %}
                    <button type="submit" class="btn btn-wine w-100 py-2 fw-bold">Update Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}